@page "/"

<h1>Blazor</h1>


<AuthorizeView>
    <Authorized>
        Welcome @context.User.Identity.Name to the Blazor app.
    </Authorized>
    <NotAuthorized>
        Welcome to the Blazor app. please sign in to continue.
    </NotAuthorized>
</AuthorizeView>


