@using Microsoft.AspNetCore.Authentication.Cookies
@using WebApp.Provider

@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject CustomAuthenticationStateProvider AuthenticationStateProvider

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <AuthorizeView>
            <Authorized>
                <a>@context.User.Identity.Name</a>
                <a href="signin" @onclick="Signout">Sign Out</a>
            </Authorized>
            <NotAuthorized>
                <a href="signin">Sign In</a>
                <a href="signup">Sign Up</a>
            </NotAuthorized>
        </AuthorizeView>
    </div>
    <div class="content px-4">
        @Body
    </div>
</div>

@code {

    private async Task Signout()
    {
        await AuthenticationStateProvider.SignOutAsync();
        Navigation.NavigateTo("/");
    }
}